@import '../../colors.css';

.completed {
    color: var(--color-tertiary);
}

.todo-item {
    width: 250px; /* O el ancho que prefieras */
    padding: 10px;
    border: 1px solid var(--color-tertiary);
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--color-quartet);
    
    margin-bottom: 15px;
  }