@import '../../colors.css';

.completed {
    color: var(--color-tertiary);
}

.todo-item {
    width: 250px; /*Establece el ancho del contenedor*/
    padding: 10px; /*Da un espaciado en todas las partes del contenedor*/
    border: 1px solid var(--color-tertiary);
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--color-quartet);
    margin-bottom: 15px;
  }