@import '../../colors.css';

#todo-list-container {
    width: 1000px;
    height: 100%;
    padding: 10px;
    /* background-color: #77B0AA; */
    
}

#search-container {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

#search-container input {
    height: 40px;
    border-radius: 15px;
    width: 70% ;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    color: white;
    outline: none;

    transition: border-color 0.3s; /* Transición suave para el cambio de color */

    /* Borde cuando el input está enfocado */
    &:focus {
        border-color: var(--color-tertiary); /* Cambia el color según tus preferencias */
    }
}

#search-container button {
    color: white;
    cursor: pointer;
    width: 100px;
    background-color: var(--color-tertiary);
    border-radius: 15px;
    border: 2px solid var(--color-tertiary);
    transition: color 0.5s; 

    &:hover {
        color: var(--color-secondary);
    }
}

#task-container {
    display: flex; /*Agrupa y distribuye el espacio entre los elementos*/
    flex-wrap: wrap; /*Permite repartir todos los elementos de la vista de forma horizontal (en fila) y hacia abajo*/
    gap: 20px; /*Espacio entre los elementos*/
    justify-content: flex-start; /*Permite poner los elementos desde el principio del contenedor, de izquierda a derecha*/
    margin-top: 40px; /*Le da una separación al elemento en la parte superior*/
    /* background-color: red; */
    justify-content: center; /*Centra los elementos en un contenedor cuando se encuentra con display:flex*/
    width: 98%; /*Establece el ancho del contenedor*/
  }
